
 #box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    border-color: blueviolet;
    background-color: bisque;
}


h3 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    border-color: blueviolet;
    background-color: bisque;
}